/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#div-header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 30px
}

#div-edit {
	background-color: #000;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#div-edit i, #div-edit p {
	color: #fff;
}

#div-edit-hidden {
	display: none;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav a {
	padding: 0 10px;
	font-size: 16px;
	transition: transform 0.5s ease;
}

a {
	text-decoration: none;
	color: #000;
}

.fa-instagram {
	font-size: 1.5rem;
	font-weight: 100;
}

a:hover {
	color: #B1663C;
	transform: scale(1.1);
}

a, button, input[type="submit"]{
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 100px;
}

#port-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 50px;
}

#modif-hidden {
	display: none;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.filters-hidden {
	display: none;
}

.btn-filter, #login-form button{
	padding: 8px 15px;
	border: 1px solid #1D6154;
	background-color: #FFFEF8;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	transition: transform 0.5s ease;
}

.btn-filter:hover {
	transform: scale(1.1);
}

@keyframes easeBackgroundColor {
	0% {
		background-color: #FFFEF8;
		color: #1D6154;
	}
	100% {
		background-color: #1D6154;
		color: #FFFEF8;
	}
}
.filter-selected {
	animation: easeBackgroundColor 0.5s forwards;
}

.gallery {
	margin-top: 80px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	max-height: 489px;
}

@keyframes fadeInProjects {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

figcaption {
	margin-top: 10px;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #email, #password, #input-title-add-img, #input-category-add-img {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
	font-size: 1.2rem;
}

input:-moz-autofill {
    background-color: transparent !important;
    color: inherit !important;
}

footer {
	height: 60px;
	width: 100%;
}

#link-footer {
	transform: none;
	display: flex;
	justify-content: flex-end;
	height: 100%;
	align-items: center;
}

/*******LOGIN PAGE*******/


#h2-login {
	text-align: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
	padding: 50px;
}

#login-form div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #3D3D3D;
}

#email, #password {
	width: 380px;
}

.error {
	color :red
}

#forgot-psw {
	color: #3D3D3D;
	text-decoration: underline;
}

#login-form button {
	background-color: #1D6154;
	color: #fff;
}

#login-form button:hover {
	background-color: #FFFEF8;
	color: #1D6154;
}

/******* MODAL *******/

#modal {
	width: 630px;
	max-width: calc(80vw - 50px);
	max-height: calc(80vw - 50px);
	background: #fff;
	overflow: auto;
	border:none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}
#modal-part-1 {
	padding: 50px;
}

#modal-part-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#div-icon-close {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#div-icon-close-pt2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#icon-close {
	width: 100%;
}

#icon-back {
	font-size: 1.3rem;
}

.title-modal {
	font-size: 26px;
	text-align: center;
}

#gallery-modal {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 40px 0;
	border-bottom: solid 1px #b9c5cc;
	margin-left: 30px;
}

#content-modal {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.div-img-modal {
	position: relative;
}

.img-modal {
	width: 80px;
	max-height: 106px;
}

.link-icon-trash {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #000;
	border-radius: 2px;
}

.link-icon-trash i {
	color: #fff;
	font-size: 10px;
	padding: 3px;
}

#div-btn-modal {
	display: flex;
	justify-content: center;
}

#btn-add, #btn-submit-add-img , #btn-contact, #btn-login{
	padding: 8px 0;
	width: 327px;
	margin-top: 30px;
	border: 1px solid #1D6154;
	background-color: #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	color: #FFFEF8;
}

#btn-contact {
	align-self: center;
	margin-bottom: 50px;
}

@keyframes easeBackgroundColorBtn{
	0% {
		background-color: #1D6154;
		color: #FFFEF8;
	}
	100% {
		background-color: #FFFEF8;
		color: #1D6154;
	}
}

#btn-add:hover, #btn-submit-add-img:hover, #btn-contact:hover, #btn-login:hover {
	animation: easeBackgroundColorBtn 0.3s forwards;
}

#fake-btn-submit {
	margin-top: 10px;
	padding: 10px 0;
	width: 327px;
	border: 1px solid #A7A7A7;
	background-color: #A7A7A7;
	color: #fff;
	text-align: center;
	border-radius: 60px;
  	font-family: 'Syne';
  	font-size: 16px;
}

#form-add-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	gap: 20px;
}

#div-add-img, #preview-img{
	width: 420px;
	height: 170px;
	background-color: #e8f1f6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#img-preview {
	height: 170px;
}

.fa-image {
	color: #b9c5cc;
	font-size: 4rem;
}

#btn-input-file {
	width: 170px;
	height:36px;
	background-color: #b9c5cc;
	border: none;
	border-radius: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#btn-input-file:hover {
	opacity: 0.8;
}

#file-input {
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
}

.custom-file-input {
	color: #306685;
	z-index: 0;
	position: absolute;
}

#div-title-add-img, #div-category-add-img {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 420px;
}

#input-category-add-img {
	background-color: #fff;
	border: none;
}

#div-category-add-img {
	padding-bottom: 30px;
	border-bottom: solid 1px #B3B3B3;
}

#btn-submit-add-img {
	margin-top: 10px;
}